# Python
.venv/
__pycache__/

# Data & artifacts
data/
*.pbix

# dbt artifacts
dbt_project/analytics/dbt_modules/
dbt_project/analytics/target/
dbt_project/analytics/logs/

# Local credentials (por si acaso)
profiles.yml

# Ignorar logs de dbt
dbt_project/logs/
