# Python venv
.venv/
venv/

# Bytecode
__pycache__/
*.py[cod]

# Datos sensibles
data/

# Power BI
*.pbix

# dbt artifacts
dbt_project/analytics/dbt_modules/
dbt_project/analytics/target/
dbt_project/analytics/logs/

# Logs generales
logs/

# Mac OS
.DS_Store
